html{
	height: 100%;
	margin: 0 10px !important;
}
body.main-body{
	height: 100%;
	margin: 0;
	
}
.input-wrapper{
	width: 100%;
	position: fixed;
	z-index: 2;
}
.input-wrapper .input-area{
	width: 97%;
	resize: none;
	padding: 5px;
  	border-bottom: 1px solid #AAABB8;
  	background: #E6E8F2;
  	-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.3);
  	-o-box-shadow: 0px 2px 10px rgba(0,0,0,.3);
  	box-shadow: 0px 2px 10px rgba(0,0,0,.3);
	z-index: 2;
	border-top: 0;
	box-sizing: border-box;
}
.no-display{
	display: none;
}
.output-wrapper{
	padding-top: 32px;
}
.command-result-wrapper{
	border-bottom: 2px solid #DFDFDF;
	height: 100%;
}
.command{
}
.result-wrapper{
	border-top: 1px solid #EEEFEE;
	position: relative;
}
.command-icon{
	color: #3583FC;
  font-weight: bold;
  font-size: 16px;
}
.error{
	color: #ff0000;	
}
.error.text{
	position: absolute;
  	margin-left: 11px;
  	top: 4px;
}
.output-prefix:before{
	content: '« ';
  color: #BDC3CD;
  font-size: 18px;
  font-weight: normal;
  margin-right: -10px;
  line-height: 18px;
  width:20px;
  display: inline-block;
}
.output-prefix.error:before{
	content: '\0000D7 ';
  color: #E81D20;
  font-size: 28px;
  font-weight: bold;
  line-height: 24px;
}
.boolean, .object, .function{
	color: #008;
}
.object.text{
	display: block;
}
.string{
	color: #080;
}
.key{
	color: #414141;
}
/*.obj-result-cont{
	max-width: 600px;
}
.value{
	  display: inline;
  width: 100%;
  word-wrap: break-word;
  
}/*